<% if @errors %>
  <% @errors.each do |error| %>
    <p style="color: red;"><%= error %></p>
  <% end %>
<% end %>

<h2> Reservation for <%= @reservation.date.strftime('%a %d %b %Y') %></h2>

<p>Current Reservation Information: </p>
Date: <%= @reservation.date.strftime('%a %d %b %Y') %><br>
Time: <%= @reservation.time %><br>
Vehicle Type: <%= @reservation.vehicle_type %><br>
Pick Up Location: <%= @reservation.pick_up %><br>
Drop Off Location: <%= @reservation.drop_off %><br>
<br>

<% if @reservation.date > Time.now %>
<p>Fill out the following to update your reservation: </p>

<form method="POST" action='/reservations/<%= @reservation.id %>' id="reservation">
<input id="hidden" type="hidden" name="_method" value="patch">
    Date <input type="date" name="reservation[date]" value="<%= @reservation.date %>" required min= "2020-10-05" > <br>
    <br>
    Time <input type="time" name="reservation[time]" value="<%= @reservation.time %>"required><br>
    <br>
    Vehicle Type <select name="reservation[vehicle_type]" form="reservation" value="<%= @reservation.vehicle_type %>"required>
    <option value="" selected disabled hidden>Select a Vehicle Type</option>
    <option value="Sedan">Sedan</option>
    <option value="SUV">SUV</option>
    <option value="Van">Van</option>
    </select> <br>
    <br>
    Pick Up Location <input type="text" name="reservation[pick_up]" value="<%= @reservation.pick_up %>"required><br>
    <br>
    Drop Off Location <input type="text" name="reservation[drop_off]" value="<%= @reservation.drop_off %>"required><br>
<br>
    <input type="submit" id="submit" value="Update Reservation"><br>
</form>
<br>

<form method="POST" action='/reservations/<%= @reservation.id %>'>
<input id="hidden" type="hidden" name="_method" value="delete">  
<input type="submit" id="submit" value="Cancel Reservation"><br>
</form>

<% else %>
<form method="POST" action='/reservations/<%= @reservation.id %>'>
<input id="hidden" type="hidden" name="_method" value="delete">  
<input type="submit" id="submit" value="Delete Reservation"><br>
</form>
<% end %>