
<% if @reservations.empty? %>
  <p>Hi <%= @user.name %>, book a new reservation <a href="/reservations/new">here</a></p>
  <% else %>
  <h2>All Reservations</h2>
  <p> To edit or delete a reservation click on the date </p>
  <h3>Future Reservations:</h3> 

<ul>
<% @reservations.collect do |reservation| %>
<% if reservation.date >= Time.now %>
        <li><a href="/reservations/<%= reservation.id %>"><%= reservation.date.strftime('%a %d %b %Y') %></a></li>
            <ul>
                <li>Time: <%= reservation.time %></li>
                <li>Vehicle Type: <%= reservation.vehicle_type %></li>
                <li>Pick Up Location: <%= reservation.pick_up %></li>
                <li>Drop Off Location: <%= reservation.drop_off %></li>
            </ul>
        <br>
<% end %>
<% end %>
</ul>
<br>

<h3> Past Reservations: </h3>

<ul>
<% @reservations.collect do |reservation| %>
<% if reservation.date < Time.now %>
        <li><a href="/reservations/<%= reservation.id %>"><%= reservation.date.strftime('%a %d %b %Y') %></a></li>
            <ul>
                <li>Time: <%= reservation.time %></li>
                <li>Vehicle Type: <%= reservation.vehicle_type %></li>
                <li>Pick Up Location: <%= reservation.pick_up %></li>
                <li>Drop Off Location: <%= reservation.drop_off %></li>
            </ul>
        <br>
<% end %>
<% end %>
 </ul>
<% end %>
